<h3>atebitbakery Order On The Way</h3>
<p>
Just letting you know that some deliciousness is coming your way:
</p>
<table>
<tr><th colspan="2">Qty</th><th>Description</th></tr>
<%= render @order.line_items %>
</table>