/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.bakery_form fieldset {
background: pink;
}
.bakery_form legend {
color: #fbecf8;
background: #a28075;
font-family: sans-serif;
padding: 0.2em 1em;
}
.bakery_form label {
width: 5em;
float: left;
text-align: right;
padding-top: 0.2em;
margin-right: 0.1em;
display: block;
}
.bakery_form select, .bakery_form textarea, .bakery_form input {
margin-left: 0.5em;
}
.bakery_form .submit {
margin-left: 4em;
}
.bakery_form div {
margin: 0.5em 0;
}